<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Home Page!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<!--/*@thymesVar id="authors" type="com.danzal.lib_project.domain.Author"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-center">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <a class="navbar-brand" href="#">Library Home Page!</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" th:href="@{'/index'}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" th:href="@{'/authors/home'}">Authors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" th:href="@{'/books/home'}">Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" th:href="@{'librarians/home'}">Librarians</a>
                                </li>
                            </ul>
                        </div>
                    </nav>


                    <div class="panel-body">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h1 class="panel-tittle">Show authors managment page</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-default" href="#" role="button"
                                       th:href="@{'/authors/home'}">AUTHORS</a>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h1 class="panel-tittle">Show books managment page</h1>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-default" href="#" role="button"
                                           th:href="@{'/books/show'}">BOOKS</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h1 class="panel-tittle">Show librarian managment page</h1>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-default" href="#" role="button"
                                           th:href="@{'/librarians/show'}">LIBRARIAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>
</div>

</body>
</html>